*{
    margin: 0;
    padding: 0;
}
.navbar{
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar a{
    float: left;
    font-size: 16px;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown{
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color:white;
    padding:14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    float:none;
    color: black;
    padding:12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }  
h1{
    margin-left: 50px;
    border-bottom: 2px solid darkgray;
    text-shadow: 2px 2px 4px black;
}
.box-container{
    margin-left: 50px;
    margin-right: 50px;
    padding:20px;
}
  .box{
    margin: 20px;
    width:fit-content;
    padding: 10px;
    float:left;
}
.box img{
    height: 120px;
    width:120px;
    alt: "image";
}
.box:hover{
    border-radius:10px;
    box-shadow: 4px 4px 4px 2px lightgray;
}
.content{
    padding:40px;
}
.content ul li{
    font-size: 1.2em;
    list-style-type: none;
    font-family: sans-serif;
    line-height: 35px;
    word-spacing: 5px;
}
.content h2{
    text-transform: uppercase;
    margin: 30px;
    border-bottom: 2px solid darkgray;
    text-shadow: 2px 2px 4px darkgray;
}
.content b{
    text-decoration: underline;
}
.content *{
    background-color: white;
}
.edit-add{
    height: fit-content;
    width: fit-content;
    display: block;
    font-size: 1.2em;
    padding: 20px;
    margin-left:50px;
    margin-bottom: 20px;
    padding: 10px;
    border:1px solid darkgray;
    border-radius: 10px;

}
input[type="submit"]{
    height: fit-content;
    width: fit-content;
    padding: 5px;
    margin:5px;
    background-color: rgb(46, 90, 236);
    border: 1px solid black;
    border-radius: 8px;
    color:white;
}
textarea{
    height:300px;
    width:600px;
    margin:5px;
    padding:5px;
    display: none;
}
.projects{
    height: fit-content;
    width: fit-content;
    font-family: sans-serif;
    font-size: 1.2em;
    margin: 40px;
    margin-left:150px;
    padding: 20px;
    border: 1px solid lightcoral;
    border-radius: 10px;
}
.project p{
    margin-top:20px;
}

iframe{
    /*visibility: hidden;*/
    height: 600px;
    width: 1250px;
}